


body {
	background-color: black;
	padding: 20px;
	}
font {
	font-family: 'Sans Serif';
	src: url('fonts/CothamSans.otf');
	color: white;
	}
	
	hfont {
		font-family: 'Sans Serif';
		src: url ('fonts/CothamSans.otf');
		color: white;
		font-size: 40px;
		}
