@import url(https://fonts.googleapis.com/css?family=Lato:300);
.bottom, .top, .back, .front, .left, .right, car, wheel, collisionpoint {
  position: absolute;
  width: 100px;
  height: 200px;
  box-sizing: border-box;
  background: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMTEhUSEhMVFhUXFhUWGBUWFxUYGBcYFxcWFxcXGBcYHSggGBolHRUVITEiJSkrLi4uFx8zODMtNygtLisBCgoKDg0OFxAQGi0dHx0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS03KzctLS0tLS0tK//AABEIAKgBKwMBIgACEQEDEQH/xAAcAAABBQEBAQAAAAAAAAAAAAAAAQIDBAUGBwj/xAAzEAABAwIEBAUDBAMBAQEAAAABAAIRAyEEBTFBEhNRYXGBkaHwFLHBItHh8RUyQlIGsv/EABgBAAMBAQAAAAAAAAAAAAAAAAABAgME/8QAIhEBAQACAgMAAgMBAAAAAAAAAAECEQMSEyExQVEEIoFh/9oADAMBAAIRAxEAPwD2xCEKQEIQgBCEIAQhCAEIQgBCEIAQhCAEIQgBCEIAQhCAEIQgBCEIAQhCAEJUIBEIQgBCEIAQhEoAQiUiAVCaklMHoQhIBCEqARCESgBKm8QSF4RotnITOaEnNCeqO0SIURrJprJ9aXZOhVjWTTWR0o7LaJVPnpprp9C7L0o4lQNZNNZPxjs0OMJOYFn85Bqp+Mu7Q4wjmhZvORzUeMd2jzgjnBZhqpOcn4y7tPnBNNcLNNZN5yPGO7SNYJDVVA8WsGOt1IKDiJEHzT6yDdqya/dJ9R3VcYd29kx9FwvCNYjdXPqEfUrO5iTmp9IXdpfUpPqFnc5HOT8cLu0eek55Wfz0vPS6Duvc5JzlS56T6jun0HeNfnjqk5/dZfMS8xT0iuzSNdNNbus/mKxh6BdrYJXGQJzXTTWTamCdsZQ3AmLmCjeJ6o5kpDVTjl5/9eyiGBfJuPHqnvEtUvGgElQNa+YvrHZXxghF3GUWyCS1We+N1GaqvjBM6E+aSrhGdI8Eu8PrVHmpWuOsSrrMKyNJSmi3/wAo8kHSqtET0CmqYUnQifRIMA3qVPQp8IU3P9KmP7UH8TdW/keyqVMTdauKr8Ilwt1C53MK7eKWGfJaYXbHl/rFsYhFTFGbrIfi0z6pbdXP5Wx9Sp2VqZ1cR5LFaSd1NhnQ7ST0KmxeOV2vvqQdbdVbpU6ZFn+qipvbUb+oDX5CjZlrXaOIWdy/xvMb+PbRr4ZpFiB3WRWqhp1BT8Xlbh/q6fEqrTyqoTcgdDqnhZPtTn2/GKb/ACrh/wBIp5uQbmU45N3JUWMyiASD+U98aOvNPbRZnTOpUbs6b0XM1A5uqZzT0V+HFnf5GfxrPxZlN4nESquGxQGolW6mKZAj+k76/An9pu1EaxTeen1arTrfvb3VRzgql2jLGxY5/ij6g91W5wCT6gJktc8o55VX6hJ9SjQ/1v8AOCX6jZZhrhN+oWPVv5GzReZgK0K/DbiWAzFppxF7lTcNrnLI6anmG1lOMYFy9SuyLGT7LQwuLp9QDCzywa457bHPcdBHinO4zpELMOMDTxcU+HRWqWYtcLFZ2NNxea2E01bwqwxgImdFiZvm7YgE8QTmNtLLKYzddIawG6r18W0Cei4v/PPG8plbPXECy0nDWN/k4OvbmbdBqonZwBZwIPdcdVzEuIixG8rrcFQa9jXOgn7lGWEx+nhy996adGrIDlPxrPA4ddPFFTFgalYt0uOZxNhcvmmXOaC4adOy6OniWnQyqub8UW39CrwzuNZ8nHM57ca3iIJEmOihbWcTAklblCpySZAv2Gyq4rOaLf8AVg49ZgWPmuic2/kcd/iyTdujDUqUx+sSD30/lX6Wc0uGCL/N1kZrjTUAqMMbFsLOp4kjU+yVu57XJ0usa6Q5k1wMSL+y1spzGRHRcUzGQLX9v7UrMzI6+CizbTHPV9vRvqAU5lUbLgqWdkCxt3WjledEmHT80UXCxtOSV1oqKtUr3voqtTGWEHVZGOzMh0EwR6JSbVbpDnNYGpZZ7qg2J9EmPxzD+q3F1CzH40bFdOO9OPkk3toit0UgrFZ9LGEjTTe37KxTqGJIIsncqmYrBxUboOKveFlVMWOnnp91GcaD8CqJrom0gRJNlDjRy78Mt2d+FlMzcgQIS1c4Lm8LiI6JTe1Xrr/q1/kB0Cb9c3p7FYzq6T6grT0y3XSCqpWsJEwVRZiAFfwjXHQW1P8AB6rK5aXhjtA55GqT6lSY/Ft0uCBbv4rKNfdOXZZY9avGuUhxB1kKj9RNkxxd0smldGNcNCpqWYuiJiSsovPQ+yQ1RCNQ5llHo2UObygTExdVMxwdB3+0gnSLLjKGavZPCYn5uo8Rmz3aulYeK7+uq82Nx1Y6GpldIhwBLSBqTIXP4iWmNe40T6GbPiLdyVVdjTJKvHtGWcwvyaWqdJxE6LQy/MalMcOvS9lnUcSSJt7/AGCQ4gbuE9B7WUZW31V4YSe5W8/OiWw51/sdlHUrmpHE42gToudr1539wmDFOA1Pqp6r7/t1eExL2SBoDrqtunm7XN/V0vK8zfjY/wCvVI7OnARIjxP2T8Wz80j0V3LqWa4esLjc/oCg+4N7i6xG5vF2m/W/tJRVz2o8fqdxA7GPborx4tVGfLMprSb/ACmoFvP+EpxYvobC579gsWrVB/aQojUWvWMN2tJ+JPX0SOxbo1JVAPKka+19E/RLVPFkW+6vYbMXAQLCZ+XWMSpOC3yEWSienQHPqmxFlRxWZ1HGS4wfmioBwbYwR21TXVWkQNp03SmMirllfqwzEkHUkLYyRjahLd9lzbjFw4eCuZLjeCoHxA0TvwsfrvKGWcEkAEbN0uqmb4Z7g0cMSb9lt4KuCxrjvpK0BRY4XC5e1ld3WWaeaZjg3MOhVFtyF6LneVhzDw68Jhee1KL2mCCtcc9xz8nFqtDMMAGNDmkmev4WdxFa+HcX0wKxho0P4WVj6fAYGmx6hOZUssJ9hOJLxKuHeKQvPVVtHV3rsEOLhGnUC8+KkqlzGCmyfFWRg6jRaSoa2FrFpdwk9APmq5u23Z0k+OfxrTMHboqzqJ6Kd/Mm86+Cmptc4WE2Wtysjm8e6zqtIgxcKxTwxIvKlZTqFvEGfclZeY5rw/p0I6H7pS5X4OmOP1aqsj/oKuSJ18/2WO/MjeB6qH/JPnXy6rWY1F02HVUzmiL+yoU8YT49NUNxEppaDMSI+fdI6oCs8uTHO77+ndGj20frGzwuYbdnQVEzG1AbC3QnQ+kwqlJ7nWLuETvPtr0VltExc+x+5UXU+rm78FTHHXiHkJ9yqtTFuJuT5/sLIq0Z373P4VjC4Rpid9D4WP8AaJcYOuVVhTJbxRaYnX+lWdrAn3XbYeg2nTbTc0AFx495myz81yXknipCWu3I/U3qickVeHKTblngg3KZxE/yt6lgxEvIjvr4wocVl4B4WvLgdCP5T7xPSsgMG5+eafwgDX55qepQDbmbWgDp4lRFndsdJB9U+w60Md8/pP4/LZLzABtH39Er4iRqjZaMFYg218FY54Iv7A/lVOOFH9T29/ujY0s1XAlRFoOg9FDzu105kfxJ/CBpPRdAIOhvO/gpKbiLjrpclVxbYev8IDibz6SgadnkWZVIDXOEQIEXXa5fWsC6y8vwON4OF3CSR1XZ5DmnNF4nWFlyYt+LL8V0eNxQaJXF55j2OgyJuY6rcxda2q4vM6hcSIFp/tLjiuW6iR+dgt4SJEe6fhajKkA67ElYYAIIgJjH8JBjTotdRh2q7mLeF5DbDboq3O7qviKziZDpmbTp2UXD3/8Ayfco0W30DzkjcQNEjaCHUAuJ3K2PoU3C7QsJmXNZU4rm1oFv5K3qo6FUaoneE5Rpzf8A9BXrcPCxlt41jpAuuPxOVuLXVCeEAxBBuT0XpFemPFc3nOXuqnha6BM+C6OPL8MOXDftw/JO5SCl1K1K+WPa4sOuxjXwWXJnSPFbbc2qCwCf5T6dS0bJrmHdJzBfT0RsaShs76KMu76+ahdUdNt1cw2CbE1HDwvMdJg+ym5SfVY4bT5cQTNwRpMX7q27GBsx/t2UQpU9GEeBvH2TvpyBH6XdQP3K58s5a6ccLIqGu7TTsFKMSRafYapHugWgDu5uqQPkSQPf9kdi6tHL83cx0m47/eVNi894wRBi97Wnosdz7QPMCJ91DI3mev7pK3V1uJJHCf1A9blJ9S0bR3181R5rmm3z+FK7EkiNPlk6RcRUcbzI7BRS47N8zc+yWi1xIh1+kfb7JtUx0ncidel90934VkQYlhAmB88lLgy2LxGkbn9lC7EA6gJza7Yt7Df5K1m2V0jqawE3z9kOrx132G6h4p0Fky0lcOiaOsf34pWOHgnOeOvp+6Ac2oe6tUYjqFRc6dLHzTaeIIsZsgtNSpUGrbLUyXNA1w4tvBc63ESQrDtB1QJ6d1WzZpBhcrjaruIkyQdws/6lw39ZUdXEk2+yUmlZZXL6ddxPC7TsPspmYSo4Eh2hvYKoKg2kLRy+pLrvtNwbKk6V6+EcDBHt8lMOHeP+T6LsqWXscQQ7XqRb1Vn/ABrxYObHkp7NPHXoj6tlWOJ2Kr1CZUlFq5XSlIBCp16XdXFSrvvCAoU3/qjht1UeIoGSQFeLBPVQmjebqthSbl7HtMi/28Fzec5K5gJY0XBJdEmehOwXXBkeOoVOpiABBOsjxVTOxOWErzqpRdEvERbp/arBknt39l2+dYc8Fmg6f2sTFlhZHCJ7bKpyWsrxSMkUGNuLHy+6bQqBpNwfHbpCieeiiaBMxPZK+znpZLh/txRuI+eKRtaLh0E94VU7TH8p7nt/9adQB5eClSSo86SfFJxnqfdNJb1PrKhqVwf7siC+kwrEHU+qQETPr/FrKF1ToE3m7KtUtxdeGd53/BEBRAwTKrB/YjwQKp/M2R1o7SrY1/dN5br8RjsCq7qxGjlCMYZ/F05KVsW+UDaD7/CoSHTeI7JjsROq0abeOnAGmhVyVFqA0NDI+yHUwellE5jhr7JRb5+E0p20oF4A28U0gRceiZQcJgkwbJLtMbIGi8sa3hMi0TP2hSBxPzVRuQNGcgdUsGd/WU7bumO80AVHEX2Stf6eiawj5KV9OPkJmcYUjag6/uoWvQax0gD54oLTXo5g4CNQOm3kr7c7qRqubbiOn3TSSb/k/ukft7+0KQBJCa565HUHvWHjMTfW97dFoYipIIWDXw44iTZVA18I8kXVioLLGp1T1VyniRGqLAmfTBus3M6LbOP/ADcIxeZAaFY2Z5qAwkmd4RJRvSrm2chrTudIXM1MyBvYTtuqGaYiXWmD19wqHMW0wjG521pVXHYSO37qDnmYA8lXFRwdGnb5qrVKjUY4PYOI66T7bo9QT2irPeNWlo6kfumteTvZX24suMEQTMgqOrTAvw2gXA94UzP9w7j+qqGOpUb3wn1Rt/ahewbLRmkZVU3l91Wp0iLp/EUwe5k9k3hAH+3gLwq/LKRwIS2elsUjqDpqNvZJVb1Fz5e6r06pFhun8RGvzwRsaPDoMABb2W07SBssFry4/nddDk1IyBOpiErTkWquXOewkCDfoqP0XCf1eh/K7qhgLA7rFznJnSXAyOkKZkq4OZc1mg8iFK/Cjhm8p78rOo9N1bewBgFwYFlW0aY3KMJzMMSNPP5qVae4gxwxvbbxWhgXkgsdofbunsSMngj5sqtVnwLZxWCP6g0hY1Z/BYgg9EbLRjmj+0PpTfRBqx3TqTkxpBwJbK1VDYtrCqNafFAPHb9vJNB7oHoo3P6oD6FLlGXKM1EnEFy6dKBzoKy8fVActHEPHVYOZzxSCqh0zFYwAWVMZhDTe6o5lXAsFj4rHRJESPwtJiyyzXMbjepPdZOLx5eb/wCo2lQV8UXkC09v2VfUlXIyttLWrNiOFV6JvMaCfwlqjYbb/iU1tmm4k6C8nv4WQNGYh5cZjQXjx/ldDhWBzeLsIgQYjoudDDtoYlXKGYVAD/1AiNIBkbeKy5cLlPTXjymP1o16IqwSYixJ6wqNZobI4gRsVDSxbge/QqOs6TPz7JYYZT1fgyyl+GF10Sk4ul04ArZmVifKYnBqAVrR/KaRCcE0wf2QDde3zspSbd/ZNKAJlIIntg6rZyDGFrrnt4FZgWjgcLxXBEj56pVUr07JcTxgcXRXsVhg4LnP/nq8FocewXWxIWNbOdOWta4uA1WPm+Wx+sGPnsuwrUz0XM//AEjTwkBOWiyacjUadeIHwKtUKnCO9llNEGCbhW6NcOJvFlswbdBoMmdtO6wM+jpfSfytDD1QDrNln5y3ig3U6Vv0yqdOexjUfPBI8FpBM+PVPdTIAhV+efHsmSenXk2SvBKgBvaxjTUJS4/P3TJJHdOEqIPPROnsgPcG1ZTKmJHVCFjp0qGKxg6rn8dmYg6oQrxjPO6c9jsTYxeVk1HxfeUIWjD6iGJGu86pjK1+1/NIhLatE4zfhFvnqlY31QhMj2jdQVnxt5+KEJUT6djLcHCdWD+U1pJF0IQYvspGVEIQB4KQaIQgje2iRCEApPVKkQgw0K/hahFxftukQlQ6nJq9xJ8uhXY4LHA2QhZ5Rvj8MxePAtKo41jXsJQhKRTzfPafBUI81Uo1z8hCFrHPYlbijv6J1TFSIP8AKEJkr1DtooKrOnr81SoQDQ0i6Xim2nZCEjSTtKCzuUIQH//Z);
  background-size: 3199px 3199px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
  z-index: 10;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: #000;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
}

.bottom {
  background: silver;
  background-position: -400px -2900px;
  width: 100px;
  height: 100px;
}
.bottom.r {
  background: dimgrey;
  background-position: -1800px -3000px;
}
.bottom.g {
  background: yellowgreen;
  background-position: 0 -1600px;
}
.bottom.w {
  background: skyblue;
  background-position: -100px -1900px;
}

.top {
  background: orange;
  background-position: -2900px -900px;
  width: 100px;
  height: 100px;
}

.back {
  background: white;
  background-position: 0 -800px;
}

.front {
  background: darkgrey;
  background-position: 0 -800px;
}

.left {
  background: lightgrey;
  background-position: -200px -800px;
}

.right {
  background: grey;
  background-position: -200px -800px;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 10px;
  color: white;
  z-index: 99999999999;
}
footer a {
  color: lightgrey;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

car {
  background: red;
  width: 50px;
  height: 25px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  z-index: 10;
}

wheel {
  background: black;
  width: 5px;
  height: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}

collisionpoint {
  background: green;
  width: 5px;
  height: 5px;
}

canvas {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  z-index: 0;
}
